/*common*/

body {
    background: #f9f9f9;
    padding: 0;
    margin: 0;
}

/*header*/

.header {
	height: 50px;
	background: #34373e;
	color: #fff;
	-webkit-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.67);
    box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.67);
}

.header .fa{
	color: #fff;
	font-size: 24px;
}

.header a{
	color: #fff;
	text-decoration: none;
}

.header .back {
    float: left;
    width: 15%;
    padding: 10px 30px 0px 30px;
}

.header .edit {
    float: left;
    width: 30%;
    padding: 10px 30px 0px 30px;
}

.header .edit .fa{
    margin-left: 10px;
}

.header .edit a{
    font-size: 16px;
}

.header .help {
    float: right;
    text-align: right;
    width: 30%;
    padding: 10px 30px 0px 30px;
}

/*diagram-widget*/

.diagram-widget {
    height: 500px;
}

.diagram-widget .start-point-container{
    position: relative;
    float: left;
    width: 30%;
}

.diagram-widget .data-blocks-container{
    position: relative;
    float: right;
    width: 70%;
    height: 460px;
}

.diagram-widget .add-block-btn {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #34c196;
	-webkit-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.67);
    box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.67);
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    cursor: pointer;
}

.diagram-widget .add-block-btn:hover {
    background: #39daa9;
}

.diagram-widget .add-block-btn .fa{
    color: #fff;
    font-size: 38px;
    position: absolute;
    top: 22px;
    left: 25px;
}

.diagram-widget .startPointBlock {
    position: absolute;
    left: 50px;
    top: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #fff;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
}

.diagram-widget .startPointBlock span{
    color: #c6c6c6;
    font-size: 18px;
    position: absolute;
    top: 39px;
    left: 20px;
}

/*dataBlockVew*/

.data-block {
    position: absolute !important;
    opacity: 0;
    background: #fff;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
}

.data-block .data-block-header {
    border-bottom: 1px solid #ccc;
    padding: 17px 10px;
    font-size: 18px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
}

.data-block .data-block-content .items{
    list-style: none;
    margin: 0;
}

.data-block .data-block-content .item{
    display: none;
    padding: 5px;
    overflow: hidden;
    list-style: none;
}

.data-block .data-block-content .data-block-item-name{
    float: left;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data-block .data-block-content .item .controls{
    float: right;
    width: 30%;
    text-align: center;
}

.data-block .data-block-content .item .controls .fa{
    margin: 0 2px;
    font-size: 16px;
    color: #828282;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.data-block .data-block-content .data-block-item-edit .fa:hover{
    color: #62c462;
}

.data-block .data-block-content .data-block-item-delete .fa:hover{
    color: #ee5f5b;
}

.data-block .data-block-content .item .controls span{
    cursor: pointer;
}

.data-block .data-block-footer {
    border-top: 1px solid #ccc;
    padding: 10px 10px;
    text-align: center;
}

.data-block .data-block-footer .fa{
    font-size: 34px;
    color: #828282;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.data-block .data-block-footer .fa:hover{
    color: #4e4848;
}


